<!--/**
* @author : A.D.Liyanage
* @since : 0.1.0
**/-->

.contact-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-box {
    min-height: 600px;
    width: 500px;
}

.contact-box>div {
    width: 100%;
}

.contact-box>div>input {
    width: 100%;
    height: 50px;
}

.contact-box>div>textarea {
    min-height: 100px;
    height: 100px;
    max-width: 100%;
    min-width: 100%;
}

.sendbtn {
    width: 100%;
    height: 60px;
    font-size: 18px;
    border: none;
    background-color: #42aaf5;
    cursor: pointer;
}

.sendbtn:hover {
    background-color: #0a6db8;
    color: #fff;
}

@media screen and (max-width:600px) {
    .contact-box {
        width: 80%;
    }
}